{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login_admin</h1>
    <h1>login again</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident, incidunt est magnam ullam, minus culpa quam odio enim nulla, optio eaque <br> ratione maxime! Vitae delectus enim cum ipsa beatae!</h2>
    
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum consequatur blanditiis iste nisi asperiores dolores laborum dignissimos <br> saepe culpa minus ea enim dolor, possimus sint magnam facere. Eveniet, delectus.</h4>
    <img src="{% static 'images/img_admin.jpg' %}" alt="">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum consequatur blanditiis </h1>


    <p> similique. Voluptate aliquid dolorum quo ab veniam, voluptatem in.</p>
</body>
</html>
